@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_LayoutQuanTriVien.cshtml";
}

<div style="height: 100%; display: flex; justify-content: center; align-items: center; flex-direction: column">
    <h1 style="font-size: 24px; color: red; font-weight: 500">403</h1>
    <h2 style="color: red;">Cấm!</h2>
    <p>
        Xin lỗi, bạn không đủ quyền truy cập vào trang này!
    </p>
</div>


    
