@model List<QL_TrungTamAnhNgu.Models.KhoaHoc_TaiLieu>

<div>
    <div style="background-color: #fff; border-radius: 5px; width: 100%; margin-top: 20px; padding: 16px; border: 1px solid #dadada; border-radius: 5px;">
        <div style="display:flex; border-bottom: 1px solid #dadada">
            <span style="flex: 1; text-align: center; padding: 10px 8px; color: #7f7f7f; font-weight: 500; ">Mã tài liệu</span>
            <span style="flex: 1; text-align: center; padding: 10px 8px; color: #7f7f7f; font-weight: 500; ">Tên tài liệu</span>
            <span style="flex: 1; text-align: center; padding: 10px 8px; color: #7f7f7f; font-weight: 500; ">Thao tác</span>
        </div>
        <div style="display: flex; flex-wrap: wrap; align-items: center;">
            @foreach (var user in Model)
            {
                <div style="display: flex; width: 100%">
                    <span style="flex: 1" class="item">@user.MaTaiLieu</span>
                    <span style="flex: 1" class="item">@user.TaiLieu.TenTaiLieu</span>
                    <span style="flex: 1" class="item">
                        <a href="ChiTietTaiLieu?maTL=@user.MaTaiLieu" style="width: 30px; height: 30px; background-color: #00bbf9; border-radius: 5px; display: flex; justify-content: center; align-items: center; ">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" style="height: 20px; width: 20px;">
                                <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L6.832 19.82a4.5 4.5 0 0 1-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 0 1 1.13-1.897L16.863 4.487Zm0 0L19.5 7.125" />
                            </svg>
                        </a>
                    </span>
                </div>
            }
        </div>
    </div>
</div>