@{
    ViewBag.Title = "NotFound";
    Layout = "~/Views/Shared/_LayoutQuanTriVien.cshtml";
}

<div style="height: 100%; display: flex; justify-content: center; align-items: center; flex-direction: column">
    <h1 style="font-size: 24px ;color: red; font-weight: 500">404</h1>
    <h2 style="color: red;">Không tìm thấy trang!</h2>
    <p>
        Xin lỗi, không tìm thấy trang web của bạn!
    </p>
</div>


